# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Database
*.db

# Chroma Vector DB
chroma_db/

# Uploaded Files
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db